/* Resets & basic page setup */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

/* Header (logo & site name) */
header {
	background: #333333;
}

header a {
	color: white;
}

.wrap {
	max-width: 1600px;
	margin: 0 auto;
	padding: 1em;
	padding-left: 9%;
}

header .wrap {
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

header .logo {
	width: 60px;
	margin-right: 0.5em;
	margin-bottom: 1em;
}

header #mist {
	fill: white;
}

header a:hover #pot {
	fill: silver;
}

header a:hover #stove {
	fill: silver;
}

header a:hover {
	color: silver;
}

.thin {
	font-weight: 300;
}

header p {
	font-weight: 300;
}

body header .wrap {
	padding-top: .7em;
	padding-bottom: .7em;
}

/* Navigation */
nav {
	background: #7a7a7a;
	color: white;
	font-weight: 300;
}

nav .wrap {
	padding: 0.5em 0;
	padding-left: 7%;
}

nav li {
	display: inline;
	padding-left: 1em;
	white-space: nowrap;
}

nav a {
	color: white;
	text-decoration: none;
}

.arkiv img {
	padding-left: 0.3em;
}

/* Content */
.content {
	display: flex;
	margin-top: 1em;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	zoom: 0.935; /* Scaling to fit page on MacBook Pro */
	-moz-transform: scale(0.935);
	-moz-transform-origin: 50% 50% 0
}

div.wrap.content {
	margin-top: 0;
}

.content article {
	/*text-align: center;*/
	padding: 1em;
	width: 33.3333%;
	padding-top: 1%;
	white-space: nowrap; /* Ingen line break i list items under fag */
}

.content article ul {
	margin-top: 1em;
	font-size: 1.1em;
	line-height: 1.5;
	color: #666;
}

.content article ul li {
	font-size: 88%;
	margin: -0.18em 0 0 0;
	text-indent: -25px;
}

/* Extender linkarealet mot venstre for å inkludere bulletpointsa */
.content article ul li a {
	display: block;
	padding-left: 25px;
}

.content article img {
	width: 5em;
	height: 5em;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

.content a:visited {
	color: black;
}

p.underkonstruksjon {
	padding-top: 2em;
	text-align: center;
}

/* Styling for semestervalg */
div.wrap.content.semester {
	padding-left: 14%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.content article .semester {
	padding-left: 1.5em;
}

h1.semester {
	text-align: center;
	padding-top: 1em;
	font-size: 175%;
}

p.semester {
	text-align: center;
}

/* Hover effect for diverse elementer på nettsiden */
nav a:hover {
	color: silver;
}

.content article .kategori:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
	color: grey;
}


.content li a:hover {
	color: black;
	background: #eee;
}

.arkiv:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

/*Gear icon rotation on hover*/
.tannhjul:hover {
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate;
	-moz-animation-duration: 4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	animation-name: rotate;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {
			-webkit-transform: rotate(0deg);
			-webkit-transform-origin: 59% 50%;
		}
    to {
			-webkit-transform: rotate(360deg);
			-webkit-transform-origin: 59% 50%;
		}
}
@keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
		-moz-transform-origin: 59% 50%;
		transform: rotate(0deg);
		transform-origin: 59% 50%;
	}
	to {
		-moz-transform: rotate(360deg);
		-moz-transform-origin: 59% 50%;
		transform: rotate(360deg);
		transform-origin: 59% 50%;
	}
}

/* Brukes for nabla-ikonet under fritid */
img.desaturate{
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
}

/* Stil på punktlistene */

.fp {
	list-style-image: url('/img/event5.svg');
}

.ov {
	list-style-image: url('/img/blank32.svg');
}

.lf {
	list-style-image: url('/img/checked18.svg');
}

.eks {
	list-style-image: url('/img/file98.svg');
}

.itl {
	list-style-image: url('/img/itllogo.svg');
}

.epost {
	list-style-image: url('/img/origami6.svg');
}

.middag {
	list-style-image: url('/img/cutlery6.svg');
}

.software {
	list-style-image: url('/img/dvd9.svg');
}

.farm {
	list-style-image: url('/img/chicken2.svg');
}

.ibok {
	list-style-image: url('/img/books30.svg');
}

.nabla {
	list-style-image: url('/img/litennabla.svg');
}

.fb {
	list-style-image: url('/img/facebook42.svg');
}

.samfundet {
	list-style-image: url('/img/hand6');
}

.bartebuss {
	list-style-image: url('/img/vehicle12.svg');
}

.pensum {
	list-style-image: url('/img/checking1.svg');
}

.stoffkartotek {
	list-style-image: url('/img/flask.svg');
}

.bok {
	list-style-image: url('/img/open161.svg');
}

.info {
	list-style-image: url('/img/info3.svg');
}

.viktiginfo {
	list-style-image: url('/img/viktiginfo3.svg');
}

.video {
	list-style-image: url('/img/movie43.svg');
}

.formelark {
	list-style-image: url('/img/sigma1.svg');
}

/* Footer */

footer {
	color: grey;
	font-size: 75%;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.footer .navn {
	color: black;
}

/* Zoom to fit page on large resolutions */
@media (min-width: 1580px) {
	.wrap {
		zoom: 1.07;
	}
}

@media (min-width: 1900px) {
	.wrap {
		zoom: 1.15;
	}
}

/* Responsive design (break points) */
@media (max-width: 900px) {
	.content article {
		width: 50%;
	}

	footer {
		position:relative;
	}

}

@media (max-width: 500px) {
	.wrap {
		padding-left: 6%; /* For riktig center allignment på telefon */
	}

	header .logo {
		width: 40px;
	}

	header h1 {
		font-size: 1.5em;
	}

	nav li {
		display: block;
		text-align: center;
		padding: 0.5em;
	}

	.content article {
		width: 100%;
		padding: 0.3em;
	}

	header .logo {
		width: 60px;
		margin-right: 1em;
		margin-left: 20%;
		margin-bottom: auto;
		text-align: center;
	}

	.content {
		width:200px;
		margin:0 auto;
		text-align:left;
	}

	.content img {
		margin-top: 1.5em; /* Litt spacing mellom fagene på mobilversjon */
	}

	.content article ul {
		margin-top: 0.3em;
		margin-top: 0.3em;
	}
}
