.thin {
	font-weight: 300;
}

header {
	font-family: 'Lato', sans-serif;
}

header .wrap {
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

header img {
	width: 60px;
	margin-right: 0.5em;
	margin-left: 2.5em;
}

header img:hover {
        -webkit-filter: invert(50%);
        filter: invert(50%);
        filter: progid:DXImageTransform.Microsoft.BasicImage(invert=0.5);
        -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=0.5)';
}

#content-header {
	margin-bottom: 0;
	margin-top: 0;
}

footer a {
	color: grey;
}

footer a:visited {
	color: grey;
}
