.thin {
	font-weight: 300;
}

header {
	font-family: 'Lato', sans-serif;
}

header a .wrap h1 {
	color: black;
	margin-top: 1.1em;
}

header a:hover .wrap h1 {
	color: grey;
}

header a:hover .wrap #pot {
	fill: grey
}

header a:hover .wrap #stove {
	fill: grey
}

header a:hover .wrap #flame {
	fill: #E25822;
}

header a:hover .wrap #mist {
	fill: #3399FF;
}

header .wrap {
	display: -webkit-flex;
	display: flex;
	align-items: center;
}

header img {
	width: 60px;
	margin-right: 0.6em;
	margin-left: 2.5em;
}

#content-header {
	margin-bottom: 0;
	margin-top: 0;
}

footer a {
	color: grey;
}

footer a:visited {
	color: grey;
}
